{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- content    -->
                <div class="content">
                    <!--section   -->
                    <section class="hero-section error-section">
                        <div class="bg-wrap hero-section_bg">
                            <div class="bg" data-bg="{% static "images/bg/6.jpg" %}"></div>
                        </div>
                        <div class="container">
                            <div class="error-wrap">
                                <h2>404</h2>
                                <p>We're sorry, but the Page you were looking for, couldn't be found.</p>
                                <div class="clearfix"></div>
                                
                                <div class="clearfix"></div>
                                <p>Or</p>
                                <a href="/" class="btn color-btn flat-btn"> <span>Back to Home Page</span> <i class="fas fa-caret-right"></i></a>
                            </div>
                        </div>
                    </section>
                    <!-- section end  -->
                </div>
                <!-- content  end-->
{% endblock content %}