{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block meta %}
    <meta property="og:title" content="Olanota">
    <meta property="og:description" content="Olanota political news crime news local state news central news government news">
    <meta property="og:image" content="https://{{request.get_host}}{% static 'images/logo3.png' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Olanota">
    <meta name="twitter:image" content="https://{{request.get_host}}{% static 'images/logo3.png' %}">
{% endblock meta %}
{% block content %}
                <!-- content    -->
                <div class="content">
                    <!--section   -->
                    <div class="breadcrumbs-header fl-wrap">
                        <div class="container">
                            <div class="breadcrumbs-header_url">
                                <a href="#">Home</a><span>About</span>
                            </div>
                            <div class="scroll-down-wrap">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                            </div>
                        </div>
                        <div class="pwh_bg"></div>
                    </div>
                    <!-- section end  -->
                    <!--section   -->
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="section-title sect_dec">
                                        <h2>Our Story</h2>
                                        <h4>Who we are</h4>
                                    </div>
                                    <div class="about-wrap">
                                       
                                        
                                        <a href="" class="btn float-btn color-btn image-popup"> <span>Our Story Video</span> <i class="fas fa-caret-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                {% comment %} <div class="col-md-6">
                                    <div class="about-img fl-wrap">
                                        <img src="{% static "images/about/1.jpeg" %}" class="respimg" alt="">
                                        <div class="about-img-hotifer color-bg">
                                            <p>Prabhavaa.com</p>
                                            <h4>SS Reddy </h4>
                                            <h5>Director</h5>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <div class="sec-dec"></div>
                        <p class=""></p>
                        <div class="row mt-4">
                            {% comment %} <div class="col-md-6"><img src="{% static "images/about/7.jpeg" %}" class="respimg" alt=""></div>
                            <div class="col-md-6"><img src="{% static "images/about/8.jpeg" %}" class="respimg" alt=""></div>
                            <div class="col-md-3"><img src="{% static "images/about/3.jpeg" %}" class="respimg" alt=""></div>
                            <div class="col-md-3"><img src="{% static "images/about/4.jpeg" %}" class="respimg" alt=""></div>
                            <div class="col-md-3"><img src="{% static "images/about/5.jpeg" %}" class="respimg" alt=""></div>
                            <div class="col-md-3"><img src="{% static "images/about/6.jpeg" %}" class="respimg" alt=""></div> {% endcomment %}
                            
                        </div>
                    </section>
                    <!--about end   -->
{% endblock content %}