{% extends "base.html" %} {% load static %} {% load humanize %}
{% block meta %}
    <meta property="og:title" content="Olanota">
    <meta property="og:description" content="Olanota political news crime news local state news central news government news">
    <meta property="og:image" content="https://{{request.get_host}}{% static "images/logo2.png" %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Olanota">
    <meta name="twitter:image" content="https://{{request.get_host}}{% static "images/logo2.png" %}">
{% endblock meta %}
{% block content %}
                    <!--section   -->
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="left_fix-bar fl-wrap">
                                        <div class="profile-card-wrap fl-wrap">
                                            <div class="profile-card_media fl-wrap">
                                                {% if author.profile_image %}
                                                <img src="{{author.profile_image.url}}" alt="">
                                                {% endif %}
                                                <div class="profile-card_media_content">
                                                    <h4>{{author}}</h4>
                                                </div>
                                                <div class="abs_bg"></div>
                                                <div class="profile-card-stats">
                                                    <ul>
                                                        <li><span>{{total_news}} - </span>Articles</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="profile-card_content">
                                                <h4>About</h4>
                                                <p>{{author.bio}}</p>
                                                <div class="pc_contacts">
                                                    <ul>
                                                        <li>
                                                            <span>Email:</span> <a href="mailto:{{author.email}}">{{author.email}}</a>
                                                        </li>
                                                      
                                                    </ul>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                   <div class="container-fluid">
      <div class="main-container fl-wrap">
      
        <!--grid-post-wrap-->
        <div class="grid-post-wrap gallery-itm row">
          <!--grid-post-item-->

          {% for items in post %}	
          <div class="gallery-iem col-md-6">
            <div class="grid-post-item bold_gpi fl-wrap">
              <div class="grid-post-media">
                <a href="{% url 'base:detail' items.slug items.pk %}" class="gpm_link">
                  <div class="bg-wrap">
                    <div class="bg" data-bg="{{items.Image_1.url}}"></div>
                  </div>
                </a>
              </div>
              <a class="post-category-marker purp-bg" href="/list/?cat={{items.Category}}">{{items.Category}}</a>
              <div class="grid-post-content">
                <h3>
                  <a href="{% url 'base:detail' items.slug items.pk %}"
                    >{{items.Title}}</a
                  >
                </h3>
                <span class="post-date"
                  ><i class="far fa-clock"></i> {{items.Date|naturaltime}}</span
                >
                <p>
                  {{items.Sub_heading}}
                </p>
              </div>
            </div>
          </div>
          {%endfor%}
          
          <!--grid-post-item end-->
        
       
        </div>
        <!--grid-post-wrap end-->
         <a href="/list" class="dark-btn fl-wrap"> Read all News </a>
      </div>
    </div>
    </div>
    </div>
    </div>
                             
                        </div>
                    </section>
                    <!-- section end -
{% endblock content %}
