{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block meta %}
    <meta property="og:title" content="Olanota">
    <meta property="og:description" content="Olanota political news crime news local state news central news government news">
    <meta property="og:image" content="https://{{request.get_host}}{% static "images/logo3.png" %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Olanota">
    <meta name="twitter:image" content="https://{{request.get_host}}{% static "images/logo3.png" %}">
{% endblock meta %}
{% block content %}
                <!-- content    -->
                <div class="content">
                    <!--section   -->
                    <div class="breadcrumbs-header fl-wrap">
                        <div class="container">
                            <div class="breadcrumbs-header_url">
                                <a href="#">Home</a><span>Terms & Conditions</span>
                            </div>
                            <div class="scroll-down-wrap">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                            </div>
                        </div>
                        <div class="pwh_bg"></div>
                    </div>
                    <!-- section end  -->
                    <!--section   -->
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="">
                                    <div class="section-title sect_dec">
                                        <h2>Terms & Conditions </h2>
                                    </div>
                                    <div class="">
                                       
                                    <dl>
                                        <dt>1. Acceptance of Terms</dt>
                                        <dd>By accessing or using olanota, you agree to comply with these Terms & Conditions.
                                                    If you do not agree, please do not use the website.</dd>
                                        <dt>2. Use of Website </dt>
                                        <dd>Use olanota only for lawful purposes

Not engage in any harmful, defamatory, obscene, or illegal activity

Do not attempt to hack, interfere with, or disrupt website functionality </dd>
                                        <dt>3. Content Ownership
 </dt>
                                        <dd>All text, images, videos, graphics, and other content on olanota are the property of olanota or its content partners. <br/>
You may:<br/>

Share our articles or news stories with proper credit and link to the original source.<br/>
You may not:<br/>

Copy, republish, sell, or reproduce our content without prior written permission. </dd>
                                        <dt> 4. User-Generated Content
</dt>
                                        <dd>When you post comments or submit news stories:<br/>

You are responsible for your submissions.<br/>

You grant olanota a non-exclusive, royalty-free, worldwide license to use and display your content.<br/>

We reserve the right to edit or remove user content that violates these Terms or applicable laws. </dd>
                                        <dt>5. Accuracy of Information
 </dt>
                                        <dd>While we strive to publish accurate and verified news, we do not guarantee the completeness, reliability, or accuracy of all content.<br/>
olanota is not responsible for any losses resulting from reliance on site content. </dd>
                                        <dt>6. Advertisements & Sponsored Content
 </dt>
                                        <dd> olanota may display advertisements or sponsored articles.<br/>
We are not responsible for the accuracy, legality, or quality of advertised products or services.<br/>
Transactions with advertisers are solely between the user and the third party.</dd>
                                        <dt>7. Third-Party Links
 </dt>
                                        <dd>Our website may include links to external sites.<br/>
We do not endorse or assume responsibility for any external content or privacy practices. </dd>
                                        <dt>8. Limitation of Liability
 </dt>
                                        <dd>olanota, its team, and affiliates are not liable for:<br/>

Any direct, indirect, incidental, or consequential damages<br/>

Any data loss, service interruption, or website inaccessibility<br/>

Use of the site is at your own risk. </dd>
                                        <dt>9. Indemnification
 </dt>
                                        <dd>You agree to indemnify and hold harmless olanota, its owners, and staff from any claims, damages, or losses arising from your violation of these Terms or misuse of the website. </dd>
                                        <dt> 10. Termination
</dt>
                                        <dd>
We reserve the right to suspend or terminate access to the website at any time, without notice, for violating these Terms. </dd>
                                        <dt>11. Governing Law & Jurisdiction
 </dt>
                                        <dd>These Terms are governed by the laws of India, and any disputes shall be subject to the exclusive jurisdiction of the courts in Kerala, India.
 </dd>
                                        <dt>12. Contact Us
 </dt>
                                        <dd>For queries regarding these Terms, contact:<br/>
📧 support@olanota.com
<br/>
📍olanota, Bangalore, Karnataka, India </dd>
                                      
                                        
                                                                                
                                    </dl>   
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        
                    </section>
                </div>
                    <!--about end   -->
{% endblock content %}